* {
  margin: 0.1%;
}

body {
  font-family: 'Geostar Fill', cursive;
}

h1 {
  font-family: 'Geostar Fill', cursive;
  font-size: 350%;
  margin: 1%;
}

nav {
 border-style: solid;
 border-radius: 10px;
border-width: thin;
 margin: 1%;
}

table {
  border-collapse: separate;
  border-spacing: 15px 15px;
  margin: 1%;
}

td {
  width: 50px;
  text-align: center;
  padding: 5px;
}

.filtersSection {
  display: flex;
  justify-content: space-between;
}

.apliedFilters{
  display: flex;
  justify-content: space-around;
}

.removeFilters {
  display: flex;
  align-content: stretch;
}
